<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MFE App</title>
  <!--
      This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
      Learn more about CSP policies at https://content-security-policy.com/#directive
    -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https: localhost:*; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- Load System.js first so it can be used down below to register the app -->
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.3.0/dist/import-map-overrides.js"></script>

  <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@16.13.1/umd/react.production.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js",
          "@org/microfrontend-app": "/org-microfrontend-app.js"
        }
      }
    </script>
</head>
<body>
  <script>
    System.import("single-spa").then(({ registerApplication, start }) => {
      registerApplication({
        name: "microfrontend-app",
        app: () => System.import("@org/microfrontend-app"),
        activeWhen: ["/"],
      });

      start({
        urlRerouteOnly: true,
      });
    });
  </script>

</body>
</html>